<mat-expansion-panel
  class="mat-elevation-z0 border border-gray-300"
  [expanded]="detailsExpanded"
  (opened)="detailsExpanded = true"
  (closed)="detailsExpanded = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Story Details bearbeiten</mat-panel-title>
  </mat-expansion-panel-header>

  <form
    [formGroup]="storyForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col"
    enctype="multipart/form-data"
  >
    <div class="grid grid-cols-1 gap-0 md:grid-cols-2 md:gap-6">
      <mat-checkbox
        class="md:col-span-2"
        color="primary"
        formControlName="active"
        >sichtbar</mat-checkbox
      >

      <mat-form-field appearance="outline">
        <mat-label>Titel</mat-label>
        <input formControlName="title" matInput />
        <mat-error *ngIf="storyForm.controls.title.errors">
          {{ storyForm.controls.title.errors }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Slug</mat-label>
        <input formControlName="slug" matInput />
        <mat-error *ngIf="storyForm.controls.slug.errors">
          {{ storyForm.controls.slug.errors }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="col-span-2 md:col-span-1 h-full"
        appearance="outline"
      >
        <mat-label>Beschreibung</mat-label>
        <textarea formControlName="description" rows="5" matInput></textarea>
      </mat-form-field>

      <div class="form-group flex flex-col col-span-1">
        <img class="w-auto rounded-t-md" [src]="imgPath" *ngIf="imgPath" />

        <button
          class="img-button"
          mat-stroked-button
          (click)="imageInput.click()"
          type="button"
        >
          Bild auswählen
        </button>
        <input
          hidden="true"
          type="file"
          #imageInput
          (change)="onFileChanged($event)"
        />
      </div>
    </div>

    <div class="mt-5">
      <button
        mat-stroked-button
        [class.spinner]="uploading"
        [disabled]="uploading"
        type="submit"
        class="uppercase"
      >
        {{ editMode ? "speichern" : "erstellen" }}
      </button>
    </div>
  </form>
</mat-expansion-panel>
