<div class="md:px-4">
  <div class="my-10">
    <h1 class="font-bold text-2xl">Album bearbeiten</h1>
  </div>

  <app-create-update-album
    *ngIf="album"
    [album]="album"
  ></app-create-update-album>

  <div *ngIf="uploadURL">
    <app-file-dropzone
      [uploadURL]="uploadURL"
      (uploaded)="addToAlbumImages($event)"
    ></app-file-dropzone>
  </div>

  <div
    cdkDropList
    *ngIf="albumImages"
    (cdkDropListDropped)="imagePositionChanged($event)"
  >
    <div
      *ngFor="let image of albumImages"
      class="bb-list-item dragDropItem"
      cdkDrag
      [cdkDragStartDelay]="1000"
    >
      <div>
        <div></div>
        <img
          class="h-12 w-12 rounded-full object-cover"
          src="{{ image | imagePath: '_thn' }}"
        />
      </div>

      <span>{{ image.description | stringExcerpt: 90 }}</span>

      <div class="">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            aria-label="edit image"
            (click)="editImage(image.id)"
          >
            <mat-icon>edit</mat-icon>
            <span>bearbeiten</span>
          </button>
          <button
            mat-menu-item
            aria-label="delete image"
            (click)="deleteImage(image.id)"
          >
            <mat-icon>delete</mat-icon>
            <span>löschen</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
