<div class="my-10">
  <h1 class="uppercase font-bold text-2xl">album bearbeiten</h1>
</div>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> Album Details bearbeiten</mat-panel-title>
  </mat-expansion-panel-header>

  <app-create-update-album></app-create-update-album>
</mat-expansion-panel>

<div *ngIf="uploadURL">
  <app-file-dropzone [uploadURL]="uploadURL"></app-file-dropzone>
</div>

<div cdkDropList *ngIf="albumImages" (cdkDropListDropped)="imagePositionChanged($event)">
  <div
    *ngFor="let image of albumImages"
    class="flex flex-row justify-between items-center mb-2 border rounded-md border-gray-300"
    cdkDrag
  >
    <div>
      <div></div>
      <img class="h-12 w-auto" src="{{ image | imagePath: '_thn' }}" />
    </div>
        <mat-form-field class="flex-grow mx-20" appearance="standard">
      <mat-label>Bildbeschreibung</mat-label>
      <input matInput [value]="image.description" />
    </mat-form-field> 

    <button
      class="mr-5"
      mat-icon-button
      color="primary"
      aria-label="delete button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>